* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* HEADER NAV */
header {
  background: #333;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background: #343333;
  p{
    color: white;
  }
  h1{
    color: white;
  }
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-image img {
  max-width: 600px;
  border-radius: 8px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  border-radius: 4px;
}

/* ABOUT SECTION */
.about {
  display: flex;
  gap: 2rem;
  padding: 4rem 2rem;
  background: #fff;
  align-items: center;
}

.about-image img {
  width: 500px;
  border-radius: 10px;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* SKILLS */
.skills {
  background: #eaeaea;
  padding: 3rem 2rem;
}

.skills h2 {
  margin-bottom: 1rem;
}

.skill-bar {
  margin-bottom: 1rem;
}

.bar {
  background: #ccc;
  height: 10px;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 10px;
  background: #007bff;
}

/* CONTACT */
.contact {
  background: #f9f9f9;
  padding: 3rem 2rem;
  text-align: center;
}

.contact h2 {
  margin-bottom: 1rem;
}
form {
  max-width: 500px;
  margin: 0 auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  margin-top: 1rem;
}
